<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<title><%= html_title(current_article, current_resource) %></title>
<%= feed_tag :atom, data.site.feed_link, title: "Atom Feed" %>
<%= feed_tag :rss, data.site.feed_rss_link, title: "RSS Feed" %>
<%= stylesheet_link_tag "bootstrap.min", "clean-blog", "syntax", "fontcustom.css", "cntl.css", "custom" %>

<!-- Meta stuff -->
<link rel="canonical" href="http://ashfurrow.com<%= current_resource.url %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="<%= data.site.name %>"/>
<meta property="og:title" content="<%= og_title(current_article, current_resource) %>"/>
<meta property="og:url" content="http://ashfurrow.com<%= current_resource.url %>"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="<%= page_description %>"/>
<meta property="og:image" content="<%= og_image_or_default(current_article, current_resource) %>"/>
<meta itemprop="name" content="Blog"/>
<meta itemprop="url" content="http://ashfurrow.com<%= current_resource.url %>"/>
<meta itemprop="description" content="<%= page_description %>"/>
<meta itemprop="thumbnailUrl" content="<%= data.site.dark_image %>"/>
<link rel="image_src" href="<%= data.site.dark_image %>" />
<meta itemprop="image" content="<%= data.site.dark_image %>"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<%=

if current_resource
  if current_resource.metadata[:page]["noindex"] == true
    "<meta name='robots' content='noindex' />"
  end
end

%>

<!-- Rich Snippets -->
<script type="application/ld+json">
{ 
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Ash Furrow",
  "url" : "http://ashfurrow.com",
  "image" : "http://static.ashfurrow.com/ashfurrow_square.jpg",
  "sameAs" : [ 
    "http://twitter.com/ashfurrow",
    "http://instagram.com/ashfurrow",
    "http://github.com/ashfurrow"
    ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://ashfurrow.com",
  "logo": "<%= data.site.image %>"
}
</script>

<!-- Rich Snippets -->
<script type="application/ld+json">
{ 
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Ash Furrow",
  "url" : "http://ashfurrow.com",
  "image" : "",
  "sameAs" : [ 
    "http://twitter.com/ashfurrow",
    "http://instagram.com/ashfurrow",
    "http://github.com/ashfurrow"
    ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://ashfurrow.com",
  "logo": "<%= data.site.image %>"
}
</script>

<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Google Analytics -->
<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-9572240-3']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
