%meta{charset: 'utf-8'}/
%meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/

%title= html_title(current_article, current_resource)

/ Feed Tags
= feed_tag :atom, data.site.feed_link, title: 'Atom Feed'
= feed_tag :rss, data.site.feed_rss_link, title: 'RSS Feed'

/ Device specifier
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/

/ Meta stuff
- this_url = "https://ashfurrow.com#{current_resource.url}"
%link{rel: 'canonical', href: this_url}/
%meta{itemprop: 'name', content: data.site.name}/
%meta{itemprop: 'url', content: this_url}/
%meta{itemprop: 'about', content: page_description}/
%meta{itemprop: 'description', content: page_description}/
%meta{itemprop: 'thumbnailUrl', content: data.site.dark_image}/

/ Open Graph
%meta{property: 'og:site_name', content: data.site.name}/
%meta{property: 'og:title', content: og_title(current_article, current_resource)}/
%meta{property: 'og:url', content: this_url}/
%meta{property: 'og:type', content: 'website'}/
%meta{property: 'og:description', content: page_description}/
%meta{property: 'og:image', content: og_image_or_default(current_article, current_resource)}/

/ Twitter Cards
%meta{name: 'twitter:card', content: twitter_card_type(current_resource)}
%meta{name: 'twitter:site', content: '@ashfurrow'}
%meta{name: 'twitter:creator', content: '@ashfurrow'}
%meta{name: 'twitter:title', content: og_title(current_article, current_resource)}
%meta{name: 'twitter:description', content: page_description}
%meta{name: 'twitter:image', content: og_image_or_default(current_article, current_resource)}

/ Favicon, site icons, etc
%link{rel: 'image_src', href: data.site.dark_image}
%meta{itemprop: 'image', content: data.site.dark_image}/
%link{rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon'}

/ Search enginer index
- if current_resource && current_resource.metadata[:page]['noindex'] == true
  %meta{name: 'robots', content: 'noindex'}/

/ Rich Snippets
%script{type: 'application/ld+json'}
  {
  '@context' : 'http://schema.org',
  '@type' : 'Person',
  'name' : 'Ash Furrow',
  'url' : 'https://ashfurrow.com',
  'image' : 'http://static.ashfurrow.com/ashfurrow_square.jpg',
  'sameAs' : [ 'http://twitter.com/ashfurrow', 'http://instagram.com/ashfurrow', 'http://github.com/ashfurrow' ]
  }
%script{type: 'application/ld+json'}
  {
  '@context': 'http://schema.org',
  '@type': 'Organization',
  'url': 'https://ashfurrow.com',
  'logo': '#{data.site.image}'
  }

/ Site JS
= stylesheet_inline_tag 'critical'
= javascript_inline_tag 'loadCSS'
:javascript
  loadCSS( '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' );
  loadCSS( '#{url_for "/css/all.css"}' );

/ Google Analytics
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9572240-3', 'auto');
  ga('send', 'pageview');

/ Backup to load styles not from javascript.
%noscript
  = stylesheet_link_tag 'all'
