/ jQuery, Bootstrap core, and custom theme
= javascript_include_tag '//code.jquery.com/jquery-2.1.4.min.js'
= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
= javascript_include_tag 'clean-blog'

- if current_resource.metadata[:page]['timeline'] == true
  = javascript_include_tag 'jquery.cntl'
  = javascript_include_tag 'timeline'
