/ jQuery
= javascript_include_tag 'jquery.min'

/ Bootstrap Core JavaScript
= javascript_include_tag 'bootstrap.min'

/ Custom Theme JavaScript
= javascript_include_tag 'clean-blog.min'

- if current_resource.metadata[:page]['timeline'] == true
  = javascript_include_tag 'jquery.cntl.min'
  = javascript_include_tag 'timeline'
