<% abort 'No book specified' unless defined? book %>

<% 

header = "Enjoyed my post? You'd love my book!"
image_source = "/img/marketing/#{book}.jpg"
body = ''
href = ''

if book == 'swift'
	body = "My book takes beginners on the journey of building their first full iOS app. I detail everything from opening Xcode for the first time, to building the app, even to submitting to the App Store."
	href = 'http://leanpub.com/yourfirstswiftapp'
elsif book == 'iosfrp'
	body = "My book, aimed at intermediate iOS developers, explores the power and subtlety of functional reactive programming on iOS. Start building apps faster, safer, and with less frustration today!"
	href = 'http://leanpub.com/iosfrp'
end

%>

<div id="marketing">
	<a href="<%= href %>"><img src='<%= image_source %>' /></a>
	<a href="<%= href %>"><h3><%= header %></h3></a>
	<p class="clearfix"><%= body %></p>
</div>
