%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid

    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: '/'} 
        %i.icon-site-logo

    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Blog', '/index.html'
        %li= link_to 'About', '/about.html'
        %li= link_to 'Portfolio', '/portfolio.html'
        %li= link_to 'Speaking', '/speaking.html'
        %li
          = link_to 'Blog Feed', data.site.feed_link, id: 'feed_text_link'
          = link_to '<i class="fa fa-rss-square"></i>', data.site.feed_link, id: 'feed_link'
