<% wrap_layout :layout do %>
<% link = current_resource.metadata[:page]["link_to"] %>

  <!-- Page Header -->
  <%= partial("header", :locals => { :title => current_article.title, :subtitle => "", :style => "post-heading" }) %>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <article>
          <%= yield %>
        </article>
        <hr>
        <span class="meta">Posted on <%= current_article.date.strftime('%B %e, %Y') %></span>
        <hr />
        <% if link %>
          <%= partial("marketing", :locals => { :book => link }) unless link.nil? %>
          <hr />
        <% end %>
        <%= partial("article_pager") %>
      </div>
    </div>
  </div>
<% end %>
