!!! 5
%html{itemscope: true, itemtype: 'http://schema.org/Blog'}
  %head
    = partial :htmlhead
  %body
    / Navigation
    = partial :nav

    / Main Content
    = yield

    / Footer
    = partial :footer
    = javascript_include_tag '//code.jquery.com/jquery-2.1.4.min.js'
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
    = javascript_include_tag 'all'
