<!doctype html>
<html>
  <head>

    <!-- Navigation -->
    <%= partial "htmlhead" %>

  </head>
  <body>

    <!-- Navigation -->
    <%= partial "nav" %>

    <!-- Main Content -->
    <%= yield %>

    <!-- Footer -->
    <%= partial "footer" %>

    <%= partial "htmlfooter" %>

</body>

</html>
