<% wrap_layout :layout do %>
<!-- Page Header -->
<%= partial("header", :locals => { :title => current_article.title, :subtitle => "" }) %>

  <div id="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <article>
          <%= yield %>
        </article>
        <hr>
        <span class="meta">Posted on <%= current_article.date.strftime('%b %e') %></span>
      </div>
    </div>
  </div>
<% end %>

<!-- Pager -->
<ul class="pager">
  <% if current_article.previous_article %>
    <li class="next">
        <p><%= link_to 'Previous Article', current_article.previous_article %></p>
    </li>
  <% end %>
  <% if current_article.next_article %>
    <li class="next">
        <p><%= link_to 'Next Article', current_article.next_article %></p>
    </li>
  <% end %>
</ul>
