---
per_page: 10
changefreq: daily
---

/ Page Header
= partial :header, locals: { title: data.site.name, subtitle: data.site.subtitle }

.container
  .row.blog-previews
    - standard_width_div do
      - page_articles.each_with_index do |article, i|
        .post-preview
          %h2.post-title= link_to article.title, article.url
          %p.post-meta= article.date.strftime('%B %e, %Y')
          = article.metadata[:page]['summary'] or article.summary
          %p.readmore= link_to 'Read more...', article.url

        -# Add hr between each article
        - if (i != page_articles.size - 1)
          %hr/
      %hr/

      / Pager
      %ul.pager
        %li.previous= link_to 'Older Posts', '/blog'
